<div class="container-fluid side-bet-container">
  <div class="row justify-content-center margin-below">
    <div class="btn-group" role="group">
      <a href="<%= side_hustles_path %>" class="btn btn-primary">Active Bets</a>
      <a href="<%= pending_bets_path %>" type="button" class="btn btn-primary active">Pending Payment</a>
      <a href="<%= resolved_bets_path %>" type="button" class="btn btn-primary">Resolved</a>
    </div>
  </div>
</div>