<div class="container-fluid side-bet-container">
  <%= render "bet_navigation_tabs" %>

  <%= render "pending_game_bets", pending_game_bets: @pending_game_bets %>

  <%= render "pending_weekly_bets", pending_season_bets: @pending_weekly_bets, weekly_bet_types: @weekly_bet_types %>

  <%= render "pending_season_bets", pending_season_bets: @pending_season_bets, season_bet_types: @season_bet_types %>
</div>