<% if flash[type.to_sym]&.is_a?(Array) %>
<% flash[type.to_sym].each do |error| %>
    <p class="error"><small><% if type == "password_confirmation" %>Confirmation <% end %><%= error %></small></p>
<% end %>
<% elsif flash[type.to_sym].is_a?(String) %>
    <p class="error"><small><%= flash[type.to_sym] %></small></p>
<% end %>