<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= home_path %>">Westhoochington</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="#">Over/Under Lines</a>
    <a class="nav-item nav-link" href="#">Side Hustles</a>
    <a class="nav-item nav-link" href="#">Cuck of the Week Standings</a>
    <a class="nav-item nav-link" href="#">WHIFFBP</a>
    <a class="nav-item nav-link" href="#">Trapgame Maestros</a>
  </div>
</nav>