<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><%= @body.html_safe %></p>
  <p><a href="<%= @url %>">This</a> URL is valid for the next 1 week to download the pod. It can also be found anytime at <a href="<%= podcasts_url %>"><%= podcasts_url %></a>.</p>
</body>
</html>