/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

 .error {
  color: red;
  margin: 0;
}

.success {
  color: green;
  margin: 0;
}

small.green {
    color: green;
}

small.red {
    color: red;
}

small.black {
    color: black;
}

img.vote {
  width: 2.5vh;
  height: 2.5vh;
}

img.questionmark {
    max-width: 3vh;
    max-height: 3vh;
    vertical-align: top;
}

img.expand {
    max-width: 5vh;
    max-height: 5vh;
}

img.contract {
    max-width: 2.5vh;
    max-height: 2.5vh;
}

img.hof {
    max-height: 25vh;
    display: block;
    margin: auto;
    margin-bottom: 2.5vh;
}

.profile-title {
  margin-bottom: 5vh;
}

.profile-header {
  margin-bottom: 2vh;
}

h2.form-header {
  display: block;
}

ul.horizontal_list {
  list-style-type: none;
}
ul.horizontal_list > li {
  display: inline-block;
  margin: 2px;
  padding: 5px;
}

.centered {
    width: 50%;
    margin: auto;
    text-align: center;
}

.margin-below {
    margin-bottom: 2.5%;
}

.main-title {
    font-size: 32px;
}

.mobile-margin-below {
    margin-bottom: 1vh;
}

h1.line-below {
    border-bottom: 1vh black;
}

button.min-width-button {
    min-width: 25vw;
}

.progress {
    max-width: 600px;
    margin:    0.2em 0 0.2em 0;
}

.progress .bar {
    height:  1.2em;
    padding-left: 0.2em;
    color:   white;
    display: none;
}

@media (min-width: 992px) {
    .main-title {
        font-size: 24px;
    }

    .mobile-margin-below {
        margin-bottom: 0;
    }

    button.min-width-button {
        min-width: 5vw;
    }

    img.expand {
        max-width: 2.5vh;
        max-height: 2.5vh;
    }
}
