<div class="container-fluid">
  <div class="d-flex flex-column w-25 align-items-center m-auto">
    <h1>Payments</h1>
    <h6>Buy-In: $200</h6>
    <h6>First Place: $1200</h6>
    <h6>Second Place: $540</h6>
    <h6>Third Place: $200</h6>
    <h6>Most Regular Season Points: $200</h6>
    <h6>Weekly High Score (Regular Season Weeks 1-13): $20</h6>

    <h1>Scoring</h1>
    <h6>ESPN Half PPR</h6>
    <h6>1 QB</h6>
    <h6>2 RB</h6>
    <h6>3 WR</h6>
    <h6>1 WR/TE/RB</h6>
    <h6>1 DST</h6>
    <h6>6 Bench</h6>
    <h6>1 IR</h6>
    <a class="d-block" href="https://fantasy.espn.com/football/league/settings?leagueId=209719">View on ESPN</a>

    <h1>Playoffs</h1>
    <h6>Playoffs will consist of the top 4 seeds from the regular season competing in 2-week matchups.</h6>

    <h1>The Sacko</h1>
    <h6>The Sacko is determined via a 4-team, 2-week-matchup playoff amongst the bottom 4 regular season seeds.
      Matchups will be 9 v 12 and 10 v 11, with the losers of both games competing for the Sacko.
      Sacko is to serve as the Butler for the full duration of the next Destination Draft Day.
    </h6>

    <h1>Best Ball Leagues</h1>
    <h6>Buy-In: $20</h6>
    <h6>First place: All of it</h6>
    <h6>All Best Ball Leagues will be determined by total PF over the course of the season regardless of matchups.</h6>
    <h6>*Note: all Best Ball Leagues will go the full 18 weeks. AKoz banked for BB5, all other BBs in 2022 were banked by Gary.*</h6>
  </div>
</div>
